body {
  background-color: hsl(140,50%,50%);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.command {
  height: 2em;
  border-radius: 1em;
  background: #111;
  padding: 0.5em;
  margin: 0.5em;
  height: 4em;
  width: 6em;
  font-weight: bold;
}

.hidden {
  display: none;
  visibility: hidden;
}

.row {
  flex-direction: row;
}

#canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#commands {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

#counter {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

#dialogue {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 2em;
  background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0) 50%);
}

#stats {
  position: fixed;
  top: 1%;
  left: 1%;
  text-align: left;
}

@media only screen and (orientation: portrait) and (max-device-width: 568px) {
  body {
    font-size: 2em;
  }
}
