/* Base */
body {
  background: radial-gradient(circle 100vh, hsl(140, 50%, 50%) 0%, hsl(170, 50%, 40%) 75%);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Layouts */
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Components */
.command {
  border-radius: 1em;
  background: #111;
  padding: 0.5em;
  margin: 0.5em;
  height: 5em;
  width: 5em;
  font-weight: bold;
}

.command:active {
  background: #222;
}

.commandIcon {
  font-size: 2em;
}

.commandCost {
  font-size: 0.75em;
}

#commands {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#dialogue {
  position: fixed;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 20em;
  max-width: 90%;
  padding: 0.25em;
  margin: 0;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Stats */
#counter {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

#interest {
  position: fixed;
  top: 4.5em;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

#stats {
  position: fixed;
  bottom: 3em;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 75%);
}

/* Mobile */
@media only screen and (orientation: portrait) and (max-device-width: 568px) {
  body {
    font-size: 2em;
  }
}