/* Base */
body {
  background: hsl(140, 50%, 50%);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: underline;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Layouts */
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.hidden {
  display: none;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200vh;
}

/* Components */
.command {
  border-radius: 1em;
  border: 0.1em solid #111;
  background: #111;
  padding: 0.25em;
  margin: 0.25em;
  height: 5em;
  width: 5em;
  font-weight: bold;
  font-size: 0.8em;
}

.command:active {
  background: #222;
}

.commandIcon {
  font-size: 1.75em;
}

.commandPrice {
  font-size: 0.75em;
}

.selected {
  border: 0.1em solid white;
}

/* Instances */
#commands {
  width: 100%;
  padding: 0.5em 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#dialogue {
  position: fixed;
  top: 2.5em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 20em;
  max-width: 90%;
  padding: 0.25em;
  margin: 0;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.75);
}

#launch {
  background: hsl(140, 50%, 25%);
  z-index: 30;
}

#instructions {
  max-width: 20em;
  padding: 0.5em;
}

#picker {
  max-width: 20em;
  flex-wrap: wrap;
}

#start {
  padding: 0.5em;
  margin: 0.25em;
  font-size: 2em;
  border-radius: 0.5em;
  background-color: #333;
}

#playthrough {
  padding: 0.5em;
  font-size: 1.5em;
}

/* Stats */
#counter {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

#interest {
  position: fixed;
  top: 4em;
  left: 50%;        
  transform: translate(-50%, 50%);
  font-size: 0.75em;
  text-align: center;
}

#stats {
  position: fixed;
  bottom: 4em;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 1.5em;
}

/* Menu */
#menu {
  background: black;
  z-index: 40;
}

#info {
  padding: 1em;
  margin: 1em 0;
}

#pause {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  z-index: 50;
}

#mute {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
  z-index: 20;
}

/* Mobile */
@media only screen and (orientation: portrait) and (max-device-width: 568px) {
  body {
    font-size: 1em;
  }
}